#[wildcards]
*.o
*.pyc
*.pwdb

#[dotfolders]
.fseventsd/
.internal/
.venv/

#[folders]
obj/*

#[dotfiles]
.metadata_never_index
.DS_Store
.Trashes

#[files]
geckodriver.log
npm-debug.log
yarn-error.log

#[except]
!etc/blockstack/.gitprivate
!etc/zerotier/.gitprivate
!var/backup/.gitprivate
!var/log/deos/.gitprivate
!var/privkey/.gitprivate
